{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS (if needed for custom styles) -->
    <link rel="stylesheet" href="{% static '/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="font-sans text-gray-900  bg-gray-900">

    <!-- Navbar -->
    {% include 'partials/nav.html' %}

    <!-- Main Content -->
    <main class="min-h-screen py-10 px-4 sm:px-6 lg:px-8  ">
        {% block content %}
        {% endblock %}
    </main>

    {% block menu %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- For Tailwind CSS, we don't need Bootstrap JS, so remove it -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButton = document.getElementById('navbar-toggle');
            const navbarMenu = document.getElementById('navbarMenu');
    
            if (toggleButton && navbarMenu) {
                toggleButton.addEventListener('click', () => {
                    navbarMenu.classList.toggle('hidden');
                });
            }
        });
    </script>
</body>

</html>